<div class="wrapper">
<div class="about-page">

<h1>About</h1>

<p>
The purpose of this web app is to provide a convenient way to search
for guitar ads on AGF.
</p>

<p>
It parses AGF's <a href="http://www.acousticguitarforum.com/forums/forumdisplay.php?f=17"
target="_blank">classifieds forums</a> and displays results in a streamlined and
responsive table. The data includes the last six months of posts, and is updated hourly.
</p>

<p>It is not affiliated with <a href="http://www.acousticguitarforum.com/forums/index.php"
target="_blank">Acoustic Guitar Forum</a>.  However, I'd like to thank J.R. Rodgers, the
owner of AGF, for permission to share this web app.
</p>

<p>
I'd also like to thank the mods at <a href="http://www.larriveeforum.com/smf/index.php?action=forum" 
target="_blank">Larrivee Forum </a> for allowing me to include  their classifieds section.
</p>

<p>If you have any questions or comments, feel free to contact me at
jxberc at gmail dot com.
</p>

<p>
<b>Update:</b> There is much less activity on the Larrivee,  Martin, and Blueridge
classifieds, so these forums are parsed daily, not hourly.
</p>

</div>
<div class="push"></div>
</div>
