<div class="wrapper">

<section class="subtitle">
  <h2>A <strong>faster</strong> way to <strong>search</strong> for <strong>Guitars</strong> on <strong>AGF Classifieds</strong>.</h2>

  <ul class="why">
    <li>Research and Compare Listings for Price and Popularity</li>
    <li>No Time Restriction Between Search Queries</li>
    <li>Optimized for Tablet and Mobile</li>
    <li>Search by Brand or Model</li>
    <li>Won't Tax the AGF Server</li>
    <li>Quick and Streamlined</li>
  </ul>
</section>

<div class="push"></div>
</div>
