.wrapper
  %section.subtitle
    %h2
      A
      %strong faster
      way to
      %strong> search
      for
      %strong Guitars
      on
      %strong AGF Classifieds

    %ul.why
      %li Research and Compare Listings for Price and Popularity
      %li No Time Restriction Between Search Queries
      %li Optimized for Tablet and Mobile
      %li Search by Brand or Model
      %li Won't Tax the AGF Server
      %li Quick and Streamlined
  .push
