.wrapper
  .search
    = image_tag "martin.png", :class => "logo"

    %table.display#martin{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th.listing Thread
          %th.replies Replies
          %th.last-post Last Post
      %tbody
        - cache(cache_key_for_martin) do
          = render @martins
  .push
