.auction-links
  = link_to "EBAY", "http://www.ebay.com/",   :class => 'ebay-link button',   :target => "_blank"
  = link_to "REVERB", "https://reverb.com/",  :class => 'reverb-link button', :target => "_blank"
