.wrapper
  .search
    = image_tag "blueridge.png", :class => "logo"

    %table.display#blueridge{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th.listing Thread
          %th.replies Replies
          %th.views Views
          %th.last-post Last Post
      %tbody
        - cache(cache_key_for_blueridge) do
          = render @blueridges
  .push
