.wrapper
  .search
    %h3 Gear

    %table.display#gear{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th.listing Thread
          %th.last-post Last Post
          %th.replies Replies
          %th.views Views
      %tbody
        - cache(cache_key_for_gear) do
          = render @gears
  .push
