.wrapper
  .search
    %h3 Guitars

    %table.display#guitars{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th.listing Thread
          %th.last-post Last Post
          %th.replies Replies
          %th.views Views
      %tbody
        - cache(cache_key_for_posts) do
          = render @posts
  .push

