footer {
  background-color: $bourbon-nav-background-color;
  padding: 2.0em 0;

  .footer-text {
    @include outer-container;
    p {
      color: #bbb;
    }

    a {
      color: white;
      font-weight: bold;
    }    
  }
}

