@import 'modal';

header {
  background-color: $dkerblue;
  @include clearfix();
  padding: 1.2em;
  text-align: center;
  
  //confling with sticky footer wrapper renamed to 2
  .wrapper2 {
    @include outer-container;
    @include media($mobile) {
      @include span-columns(4);
    }
  }

  h2 {
    color: #fff;
    font-weight: 300;
    float: left;
    letter-spacing: -2px;

    @include media(max-width 1100px) {
      float:none;
    }
  }

  .button {
    @include inline-block;
    background-color: white;
    border-radius: 3px;
    color: $dkerblue;
    font-weight: bold;
    // min-width to align guitars and gear buttons
    min-width: 120px;
    margin-right: .5em;
    margin-top: .5em;
    padding: .5em 2em;
    text-decoration: none;

    &:hover {
      background-color: rgba(white, .7);
      cursor: pointer;
    }
  }

  .buttons {
    float: right;

    @include media(max-width 1100px) {
      @include span-columns(12);
      margin: 20px 0;

      .button {
        margin: 0;
        padding: .5em 1em;
        font-size: 1.25em;
        @include span-columns(6);
      }
    }
  }

}

//************************************************************************//
// Subheader Section
//************************************************************************//

.subtitle {
  @include linear-gradient(#53aee0, darken(#53aee0, 5%));
  display: block;
  text-align: center;

  h2 {
    color: white;
    font-size: 4.5rem;
    font-weight: 100;
    line-height: 1.2em;
    margin:0 auto;
    max-width: 900px;
    padding: 100px 0;
    text-shadow: 0px 2px 2px darken(#53aee0, 25%);

    strong {
      font-weight: 500;
    }

    @include media($tablet) {
      font-size: 3.5rem;
      line-height: 1.4em;
      padding: 2.0em 0;
    }

    @include media($mobile) {
      font-size: 2.0rem;
      padding: 2.0rem 0;
    }
  }
}

.why {
  @include linear-gradient($dkerblue, darken($dkerblue, 5%));
  color:white;
  font-size: 1.25em;
  line-height:1.75em;
  padding: 2em 0;
}