
/* override default color */
/* .pace .pace-progress:after {
  color: white;

  @include media($mobile) {
    font-size: 2.0em;
  }
} */

body {
  margin: 0;
  padding: 0;
}

@import 'nav';
@import 'header';
@import 'footer';