// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#search {
  @include outer-container;
  padding-top: 25px;
  padding-bottom: 75px;
  margin-bottom: 75px;
  min-height: 550px;
  h2 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.2em;
    margin:0 auto 0;
    text-align: center;
    text-shadow: 0px 2px 2px darken($light-gray, 10%);
  
  }
}


/* display guitar table after dataTables loads */
#guitar {
  display: none;

}

.dataTable > thead > tr > th {
  padding-left: 10px;
}

.dataTable {
  line-height: 1.0em;

  a {
    font-size: 1.1em;
    font-weight: 500;
  }
}



/* customize datatables */
/* 
.dataTable > thead > tr > th {
  color: white;
  text-align: left;
  padding-left: 10px;
  @include linear-gradient( $main-light, $main-color);
}

.dataTable tbody td > a {
  color: lighten($main-color, 10%);
  font-size: 1.0em;
  font-weight: bold;
  text-decoration: none;
 }

.dataTable tr td:nth-child(1) {
    min-width: 400px;
}

.dataTable tr td:nth-child(2) {
    min-width: 200px;
}

.dataTables_filter label {
  margin-right: 8px;
}

.dataTables_filter, .dataTables_length {
 margin-bottom: 15px;
}

.dataTable > tbody > tr:nth-child(odd) > td, 
.dataTable > tbody > tr:nth-child(odd) > th {
  background-color: lighten($main-color, 50%);
}

 */


