// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'dataTables/jquery.dataTables';

#search {
  @include outer-container;
  display: none;
  padding-top: 1.5em;
  padding-bottom: 4.5em;
  margin-bottom: 4.5em;
  min-height: 600px; 

  h2 {
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 2px 2px darken($light-gray, 10%); 
  }
}


#guitar {
  /* display guitar table after dataTables loads */

  line-height: 1.0em;

  a {
    font-size: 1.1em;
    font-weight: 500;
  }

  tbody tr:hover {
    background: #F8FCCF; 
  }

  thead tr {
    th { padding-left: 10px; }
  }
}

//responsive styling
.replies, .views {
  @include media($tablet) {
          display: none;
  }
}

.last-post {
  @include media($mobile) {
          display: none;
  }
}

.dataTables_filter {
  @include media($tablet) {
    padding-right: 1em;
  }
}

.dataTables_length {
  @include media($tablet) {
    padding-left: 1em;
  }
}

//resize pagination for mobile
.dataTables_info, .dataTables_paginate {
  @include media($mobile) {
    font-size: 0.8em;
  }
}


