  <footer>
    <section class="footer-text">
      <p>
        This website is maintained by <a>@Jberczel</a>. Feel free to Tweet your questions or suggestions.
      </p>
    </section>
  </footer>

