<footer class="sticky-footer">
  <section class="footer-text">
  <p>
    This website is maintained by <a>@Jberczel</a>. If you have questions
    or suggestions, please see the <%= link_to "About", about_path %> page.
  </p>
  </section>
</footer>

