<header>
  <div class="wrapper">
    <h2>Search the last 3 months of guitars for sale. Posts updated hourly.</h2>

    <a class="source">Contact</a>
    <a class="source"> Search </a>
  </div>
</header>

<section class="subtitle">
  <h2>A <strong>fast</strong> way to <strong>search</strong> for <strong>Guitars</strong> on <strong>AGF Classifieds</strong>.</h2>
</section>