<header>
  <div class="wrapper">
    <h2>Search the last 3 months of guitars for sale. Posts updated hourly.</h2>

    <a class="source">Contact</a>
    <a href="#search" class="source"> Search </a>
  </div>
</header>

<section class="subtitle">
  <h2>A <strong>fast</strong> way to <strong>search</strong> for <strong>Guitars</strong> on <strong>AGF Classifieds</strong>.</h2>
  <div class="why">
  <p>Why use this website?</p>
  <ul>
     <li>Research and Compare other Listings for Price and Popularity</li>
    <li>No 30 Second Time Restriction Between Search Queries</li>
    <li>Easier to See What You've Missed</li>
    <li>Search by Brand or Model</li>
    <li>Quick and Streamlined</li>
  </ul>
  </div>
</section>