<header>
  <div class="wrapper">
    <h2>Search the last 3 months of posts.  Records updated hourly.</h2>

    <a href="#" class="source">Contact</a>
    <a href="#" class="source"> Search </a>
  </div>
</header>