<header>
<div class="wrapper2">
  <h2>Search the last 6 months of guitar sales.  Updated hourly.</h2>

  <div class="buttons">
    <%= link_to "Guitars", guitars_path, class: "button" %>
    <%= link_to "Gear",    gear_path,    class: "button" %>
  </div>
</div>
</header>

