<div class="modal button">
  <label for="modal-1">
    <div>About</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>About</h1>

      <p class="intro">The purpose of this website is to help AGF sellers and buyers price their listings and offers based on past 3 months of sales. The website also helps the casual browser/buyer to more easily search for deals.</p>

      <p class="body">This website parses AGF's <a href="http://www.acousticguitarforum.com/forums/forumdisplay.php?f=17">classifieds forum</a> and displays streamlined table of search results. The data includes the last three months of posts, and is updated hourly.</p>

      <p class="body">It is not affiliated with <a href="http://www.acousticguitarforum.com/forums/index.php">Acoustic Guitar Forum</a>.  It was built for educational purposes as well as my interest in acoustic guitars.</p>
    
      <p class="body">If you have any questions or comments, you can contact me at jxberc at gmail dot com.</p>


    </div>
  </div>
</div>