<div class="modal button">
  <label for="modal-1">
    <div class="js-btn">Contact</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>Contact</h1>
      <p class="body">This website is not affiliated with <a href="http://www.acousticguitarforum.com/forums/index.php">Acoustic Guitar Forum</a>.</p>
      <p class="body">This is a project web application for education purposes only.  
      If you have any questions or comments, you can contact me at jxberc at gmail dot com.</p>
    </div>
  </div>
</div>