<div class="modal button">
  <label for="modal-1">
    <div>About</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>About</h1>

      <p class="body">Simple web app that parses AGF's classified forum and displays streamlined table of search results.  The forum posts are updated hourly.
      </p>

      <p class="body">This website is not affiliated with <a href="http://www.acousticguitarforum.com/forums/index.php">Acoustic Guitar Forum</a>.  It was built for educational purposes as well as my interest in acoustic guitars.</p>
    
      <p class="body">If you have any questions or comments, you can contact me at jxberc at gmail dot com.</p>


    </div>
  </div>
</div>