<nav class="bourbon">
  <a href="/"><div id="logo">
    <h2 class="logo-acoustic">acoustic</h2>
    <h2 class="logo-guitar">guitar</h2>
    <h2 class="logo-forum">forum {search}</h2>
  </div></a>


<div class="nav-link more"><a href="javascript:void(0)">Other Forums</a>
  <ul class="submenu">
    <li><%= link_to "Larrivee Forum", larrivee_path %></li>   
  </ul>
</div>
      

</nav>


