<!DOCTYPE html>
<html>
<head>
  <title>AGF ForSale</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="box">
      <p>did this collapse?</p>
  </div>

    <div class="box">
        <%= yield %>
  </div>

</div>

</body>
</html>
